<!--<script type="text/javascript" src="/static/js/handlebars-v4.0.5.js"></script>-->
<script type="text/javascript" src="/static/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript">
$( document ).ready(function(){
   $(".button-collapse").sideNav();
});
</script>
