<!--<textarea id="textArea" class="materialize-textarea" placeholder="inserir missatge"></textarea>-->

<div class="input-field">
 <input id="textArea" id="input_text" type="text" length="140">
 <label for="input_text">enviar missatge</label>
</div>
