<div id="modal-poll" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nova enquesta</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <input id="poll-title" name="title" type="text" class="validate">
          <label for="poll-title">Títol</label>
        </div>
        <div id="poll-opcions" class="input-field col s6">
          <input placeholder="Opció 1" id="poll-1" name="modal-option-1" type="text" class="validate">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">

    <button id="add-option-modal" class="btn waves-effect waves-light  blue-grey darken-3 left" type="submit" name="action">Nova opció
      <i class="material-icons right">add</i>
    </button>
    <button class="btn waves-effect waves-light  blue-grey darken-3" id="poll-button">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
