<nav>
	<div class="blue-grey darken-4 z-depth-1 nav-wrapper">
		<div class="row" >
			<div class="col s12 m12">
				<a href="/" class="brand-logo left hide-on-large-only">kepasaloko</a>
				<a href="/" class="brand-logo center hide-on-med-and-down">kepasaloko</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
				<!-- PC -->
				<ul id="nav-hide" class="right hide-on-med-and-down valign-wrapper">
					{{#if nom}}
					<script type="text/javascript">
						me = '{{nom}}';
						uid = '{{uid}}';
					</script>
					<li><a class="left" href="#">{{nom}}</a></li>
					<li><a id="toggleLink" onclick="toggleView();" class="material-icons valign">speaker_notes</a></li>
					<li><a class="material-icons valign" href="/logout">exit_to_app</a></li>
					{{else}}
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
					{{/if}}
				</ul>
				<!-- Mòbil -->
				<ul class="side-nav" id="mobile-demo">
					{{#if nom}}
					<script type="text/javascript">
						me = '{{nom}}';
						uid = '{{uid}}';
					</script>
					<li><a class="left" href="#">{{nom}}</a></li>
					<li><a id="toggleLink" onclick="toggleView();" class="material-icons">speaker_notes</a></li>
					<li><a class="material-icons" href="/logout">exit_to_app</a></li>
					{{else}}
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
	</div>
</nav>
