<!DOCTYPE html>
<html>
  <head>
    {{>common-css}}
    {{>common-js}}
    <script src="/static/js/kepasaloko.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <title>Error</title>
    <style type="text/css">
    body {
      background-image: url('/static/img/error-background.jpg');
      background-size: cover;
    }
    </style>
  </head>
  <body>
    {{>navbar}}
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l6">
          	<h1 align="center">{{error}}</h1>
        </div>
      </div>
    </div>
  </body>
</html>
