<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {{>common-css}}
  {{>common-js}}
  <script src="/static/js/login.js" charset="utf-8"></script>
  <style type="text/css">
  body {
    background-image: url('/static/img/login-background.jpg');
    background-size: cover;
  }
  </style>
  <title>{{title}}</title>
</head>
<body>
  {{>navbar}}
  {{{body}}}
</body>
</html>
