<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{>common-css}}
    {{>common-js}}
    <script src="static/js/socket.io-1.2.0.js"></script>
    <script src="/static/js/kepasaloko.js" charset="utf-8"></script>
    <title>{{title}}</title>
</head>
<body>
  <header>
  {{> navbar}}
  </header>
  <main>
    <div class="row">
      <div class="col hide-on-med-and-down l2 offset-l1 card">
        {{>contacts}}
      </div>
      <div id="colMissatge" class="col s12 l8 card colMissatges">
        <ul id="missatges" class="collection"></ul>
      </div>
      <div id="polls" class="col s10 l8 card colMissatges hide">
      </div>
    </div>
    {{>modal}}
  </main>
  <footer id="footer" class="page-footer blue-grey darken-4 z-depth-1 hide">
    <div class="row">
      <div class="col l3 s1 ">
        &nbsp;
      </div>
      <div class="col s10 l8  card .colMissatges">
        {{>input}}
      </div>
    </div>
  </footer>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="new-message-button" class="btn-floating btn-large  blue-grey darken-3">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a id="new-poll-button" class="btn-floating red"><i  class="material-icons">insert_chart</i></a></li>
    </ul>
  </div>

</body>
</html>
