<div id="main-container valign-wrapper" class="container">
  <div class="row  center-align">
    <div class="col m3 s12">
      <br>
    </div>
    <div class="col l6 m12 s12 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <form class="col s12">
            <div class="input-field col s12 m12">
              <i class="material-icons prefix">account_circle</i>
              <input id="user" type="text" class="validate">
              <label for="user">User</label>
            </div>
            <div class="input-field col s12 m12">
              <i class="material-icons prefix">vpn_key</i>
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </form>
        </div>
        <div class="card-action">
          <button id="login" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
