<div id="main-container valign-wrapper" class="container">
  <div class="row  center-align">
    <div class="col m3">
      <br>
    </div>
    <div class="col 12 m6 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <form>
            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <input id="user" type="text" class="validate">
              <label for="user">User</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">vpn_key</i>
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
              <i class="material-icons prefix">vpn_key</i>
              <input id="password2" type="password" class="validate">
              <label for="password2">Password</label>
            </div>
          </form>
        </div>
        <div class="card-action">
          <button id="register" class="btn waves-effect waves-light" type="submit" name="action">Register
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
