/**Material Icons*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/static/font/MaterialIcons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  //background-color: #616161;
}


#missatges, #usuaris, #polls {
  background: white;
  overflow-y: auto;
  overflow-x: auto;
}

#missatges{
  max-height: 380px;
}
#missatges > li > p {
  word-wrap: break-word;      /* IE 5.5-7 */
   white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
   white-space: pre-wrap;
}
.colMissatges {
  left: 10px!important;
}

li>span[class=right] {
  padding-right: 50px;
}

.page-footer > .row {
  margin-bottom: 0px;
}

.hora {
  font-size: 10px;
  padding-right: 10px;
}
body {
  background-color: #cfd8dc;
}

#missatges > li > p {
  border-left: 1px solid rgb(224, 224, 224);
  //display: inline-block!important;
  margin: 0px!important;
  margin-left: 5px!important;
  padding: 2px 0px 2px 10px!important;
}

.new::after {
    content: "nou"!important;
}

#colMissatge {
  padding-bottom: 15px!important;
}

#polls{
  max-height: 380px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.polls {
  padding-top: 10px!important;

}
.poll {
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
}

.poll p {
  padding-left: 10px;
  display: block;
}

.poll a {
  float: right;
}
.poll h5 {
  font-size: 16px;
  font-style: italic;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
